<section class="footer">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="app.js"></script>

  <!-- SnipCart -->
  <script 
    src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" type="text/javascript"
    data-api-key="NmY5ZDA5ZjQtNjRlOC00Y2NhLWE3ZTItMTI2NzU5NDIzYWE5NjM2NTIzOTI5Nzk4MzExNjE4"
    data-cart-custom1-name="Pickup Date"
    data-cart-custom1-options=""
    data-cart-custom1-required="true"
    data-autopop="false"
    id="snipcart">
  </script>

  <!-- Redirect user after logging into Netlify CMS -->
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
</script>

<script>
  // Add data-pickup-dates based on blackout dates and allowed pickup days.

  // Get blackout dates from data file.
  let blackoutDates = {{ .Site.Data.date_settings.blackout_dates }};

  for (i = 0; i < blackoutDates.length; i++) {
    console.log(blackoutDates[i].start_date);
  }

  // Get delivery days from data file.
  let deliveryDaysData = {{ .Site.Data.delivery_days }};
  console.log(deliveryDaysData);
  var deliveryDays = [];

  console.log(deliveryDaysData.sundays);

  if (deliveryDaysData.sundays) { deliveryDays.push(0) }
  if (deliveryDaysData.mondays) { deliveryDays.push(1) }
  if (deliveryDaysData.tuesdays) { deliveryDays.push(2) }
  if (deliveryDaysData.wednesdays) { deliveryDays.push(3) }
  if (deliveryDaysData.thursdays) { deliveryDays.push(4) }
  if (deliveryDaysData.fridays) { deliveryDays.push(5) }
  if (deliveryDaysData.saturdays) { deliveryDays.push(6) } 

  console.log(deliveryDays);

  let today = moment();
  let d = moment(today).add(1, 'day'); // Set d to tomorrow's date.
  
  let availableDates = [];

  // Cycle through all dates between today and 2 months from today.
  while (d.isBefore(moment(today).add(2, 'month'))) {
    // Add days that are not blacked out to delivery date list and are in delivery days list.

    // TODO: Pull out logic for checking dates with blackout dates into a function
    // ^^^^^^^^^^^^^^^^^^^^^
    if (!d.isBetween(moment(blackoutDates[1].start_date), moment(blackoutDates[1].end_date).add(1, 'day')) &&
        deliveryDays.includes(d.day())) {
      console.log(d.format("YYYY-MM-DD"));
      availableDates.push(d.format("dddd, MMM DD, YYYY"));
    }

    d.add(1, 'day');
  }
  console.log(availableDates.join(' | '));
  const pickup_dates = document.getElementById('snipcart');
  pickup_dates.setAttribute('data-cart-custom1-options', availableDates.join(' | '));
</script>

</section>
