<a href="#" id="mobile-menu-button">
    <i class="fal fa-bars fa-2x"></i>
</a>
<div class="navbar">
    <ul class="navigation">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="/products">LoveLee Items</a>
        </li>
        <li>
            <a href="/" id="logo">
                <img src="/images/lovelee_logo.png" alt="Lovelee Rolls" class="logo">
            </a>
        </li>
        <li>
            <a href="#">Our Story</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</div>
<div class="snipcart-summary">
    <a href="#" id="shopping-bag-button">
        <i class="fal fa-shopping-bag fa-2x"></i>
    </a>
</div>


<div id="mobileNavContainer">
    <button id="mobileMenuCloseBtn">
        <i class="fal fa-times fa-2x"></i>
    </button>
    <ul class="mobile-nav">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/products">LoveLee Items</a>
        </li>
        <li>
            <a href="#">Our Story</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</div>