/*
  You can use import statements to include partials:
 */
/* @import "imports/reset.css"; */

/* VARIABLES */
:root {
  --primary-bg-color: #291711;
}

/*
  Or add your statements here:
 */

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #291711;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 0.1em;
  list-style: none;
  margin: 0;
  max-height: 100px;
  padding: 0;
  text-transform: uppercase;
  & a {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
    display: block;
    padding: 1.3em 0 1em;
    text-align: center;
    &:not(#logo) {
      display: none;
    }
  }
  & li:last-of-type a {
    border-bottom: none;
  }
  & .logo {
    height: 150px;
    order: 1;
  }
}

#mobile-menu-button {
  color: #fff;
  position: absolute;
  top: 35px;
  right: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: space-around;
  width: 90%;
}

.col-2 {
  & .col {
    width: 40%;
  }
}

.col {
  background-color: #ccc;
}

.hero {
  background-image: url("/images/rolls-table.jpg");
  background-position: top right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-height: 40vh;
  padding: 2rem;
  text-align: right;
  & h1 {
    color: #fff;
    font-size: 6vw;
  }
  & .cta-btn {
    background-color: #fff;
    border: none;
    color: #000;
    font-size: 1.2em;
    padding: 0.7em;
    text-transform: uppercase;
  }
}

.promo {
  background-color: #f0d242;
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 1.8em;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  text-align: center;
}

.news-signup {
  background-color: #97a19a;
  /* height: 30px; */
}

@media screen and (min-width: 800px) {
  #mobile-menu-button {
    display: none;
  }

  .navigation {
    align-items: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0.5em 0;
  }
  .navigation a {
    border: none;
    padding: 1em;
  }
  .navigation a:not(#logo) {
    display: block;
  }
  .navigation .logo {
    height: 150px;
    transform: translateY(30%);
  }

  .hero {
    height: auto;
    min-height: 40vh;
  }
}
