/*
  You can use import statements to include partials:
 */
/* @import "imports/reset.css"; */

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Proza+Libre');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

/* VARIABLES */
:root {
  --primary-bg-color: #291711;
  --secondary-bg-color: rgba(151, 161, 154, 0.7);
  --accent-color: #f0d242;
  --light-bg-color: #f9faf3;
  --gray-blue: #97a19a;
}

/*
  Or add your statements here:
 */

* {
  box-sizing: border-box;
}

body {
  background-color: var(--light-bg-color);
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
  padding-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Remove border radius on input fields on iOS devices */
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
     -webkit-appearance: none;
     border-radius: 0;
}

.navbar {
  background-color: rgba(256, 256, 256, 0.99);
  box-shadow: 3px 3px 7px #555;
  display: flex;
  height: 100px;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
.navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  flex-flow: column wrap;
  font-size: 1.2em;
  font-weight: 600;
  /* letter-spacing: 0.1em; */
  list-style: none;
  margin: 0;
  max-height: 100px;
  max-width: 1280px;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  & a {
    /* color: var(--primary-bg-color); */
    color: #466060;
    display: block;
    padding: 1.3em 0 1em;
    text-align: center;
  }
  & li:last-of-type a {
    border-bottom: none;
  }
  & .logo {
    height: 150px;
    order: 1;
    height: 150px;
    transform: translateY(30%);
  }
}

#mobile-menu-button {
  color: var(--primary-bg-color);
  cursor: pointer;
  position: fixed;
  top: 35px;
  left: 20px;
  z-index: 21;
}

#mobile-shopping-bag-container {
  display: none;
}

#shopping-bag-container {
  background-color: var(--accent-color);
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 15px #333;
  display: block;
  height: 100px;
  position: fixed;
  top: 130px;
  right: 0;
  width: 100px;
  z-index: 20;

  animation-delay: 0s;
  animation-duration: 400ms;
  animation-iteration-count: 1;
}

.snipcart-summary {
  display: block;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
  left: 50%;
  position: absolute;
  top: 50%;

  transform: translate(-50%, -30%);
}

.shopping-bag-button {
  color: var(--primary-bg-color);
  cursor: pointer;
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 26;

  transform: translate(-50%, -50%);
}

#mobileNavContainer {
  display: none;
  background-color: var(--primary-bg-color);
  background-color: rgba(41, 23, 17, 0.95);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 26;

  animation-delay: 0s;
  animation-duration: 300ms;
  animation-iteration-count: 1;
}

.mobile-nav {
  color: #fff;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 2.0rem;
  font-weight: 400;
  list-style: none;
  margin-top: 80px;
  padding-left: 30px;
  text-transform: uppercase;
  & li {
    display: block;
    padding: 0.5em 0;
    width: 100%;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  padding: 0 5rem;
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

.col-2 {
  & .col {
    flex-basis: 45%;
  }
}

.col-3 {
  & .col {
    flex-basis: 30%;
  }
}

.col {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #fff;
  box-sizing: border-box;
  color: #000;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-weight: 500;
  border: none;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  width: auto;

  background-color: rgb(151, 161, 154);
  color: #f7f5f1;

  box-shadow: 0 7px 10px var(--gray-blue);

  transition: all 200ms;
  /* &:hover {
    box-sizing: border-box;
    border: 3px solid rgba(151, 161, 154, 0.7);
    background-color: #f7f5f1; 
    color: rgba(151, 161, 154, 0.7);
  } */
  &.btn-lg {
    font-size: 1.3em;
    font-weight: 600;
    padding: 1.5em;
  }
}

.separator {
  background-color: var(--primary-bg-color);
  display: block;
  height: 5px;
  margin: 20px auto;
  max-width: 1280px;
  width: 80%;
}

.bg-light {
  background-color: var(--primary-bg-color);
}

.bg-dark {
  background-color: var(--secondary-bg-color);
}

.page-title {
  font-size: 2.2em;
  margin: 90px 0 1em;
  text-align: center;
  text-transform: uppercase;
}
.page-subtitle {
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

.hero {
  background-image: url("/images/rolls-table-trimmed.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 80px 2rem 4rem;
  text-align: right;
  
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 1200px;
  width: 100%;
  & h1 {
    color: #fff;
    font-family: 'Proza Libre', sans-serif;
    font-size: 4vw;
    margin: 2rem 0;
    max-width: 800px;
  }
  & .cta-btn {
    background-color: #f7f5f1;
    color: #c4872d;
    font-size: 1.5em;
    font-weight: 600;
    min-width: 200px;
    opacity: 1;
    padding: 1.2em;

    box-shadow: 0 7px 10px#111;
  }
}

.news-signup {
  & .col-2 {
    align-items: center;
  }
  & h3 {
    font-size: 1.5em;
    margin: 0.5em 0;
  }
  & p {
    letter-spacing: 0.01em;
    margin: 0.2em 0;
  }
  & .submit-btn {
    border: none;
    cursor: pointer;
    padding: 1em;
    margin-top: 1em;
    max-width: 300px;
    word-wrap: nowrap;
    box-shadow: 0 7px 15px rgba(151, 161, 154, 0.4);
  }
}
.social-nav {
  display: flex;
  list-style: none;
  padding-left: 0;
  & .social-icon {
    margin-right: 1rem;
  }
}
.newsletter-form {
  padding: 0;
  & .submit-btn {
    border: none;
    cursor: pointer;
    padding: 1em;
    word-wrap: nowrap;
  }
}

#newsletterSignupModal {
  display: none;
  &.modal-wrapper {
    background-color: rgba(41, 23, 17, 0.7);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 25;

    animation-delay: 0s;
    animation-duration: 300ms;
    animation-iteration-count: 1;
  }
  & .modal-container {
    background-color: #f7f5f1;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    left: 50%;
    max-width: 500px;
    padding: 20px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    & .closeModalBtn {
      cursor: pointer;
      padding: 30px;
      position: absolute;
      right: 0;
      top: 0;
    }
    & .submit-btn {
      box-shadow: 0 7px 15px rgba(151, 161, 154, 0.4);
    }
  }
}

.about-section {
  & img {
    width: 100%;
    box-shadow: 0 7px 15px var(--gray-blue);
  }
  & h3 {
    font-size: 1.5em;
    text-transform: capitalize;
  }
  & p {
    letter-spacing: 0.0125em;
    line-height: 1.4em;
    margin-bottom: 2em;
  }
  & a.btn {
    background-color: #f7f5f1;
    color: #c4872d;
    max-width: 200px;
    word-wrap: nowrap;
  }
}

.instawidget {
  margin-top: 2rem;
}

.testimonial {
  & p {
    color: #555;
    line-height: 1.5em;
    &:first-of-type {
      margin-bottom: 0;
    }
    &:last-of-type {
      color: #999;
    }
  }
}

.products-section {
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  & h2 {
    font-size: 2em;
    margin-bottom: 1.5em;
    text-align: center;
    text-transform: uppercase;
  }
  & h3 {
    font-weight: 400;
    margin: 1em 0;
  }
  & .row {
    align-self: center;
    max-width: 800px;
  }
  & .col {
    width: 100%;
  }
}

.product-link {
  box-shadow: 0 10px 15px var(--gray-blue);
  height: 200px;
  margin-bottom: 2rem;
  position: relative;
  transition: transform .2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  & .product-thumb {
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  & .link-heading {
    background-color: rgba(196, 135, 45, 0.9);
    bottom: 0;
    color: #fff;
    height: auto;
    left: 0;
    padding-left: 1.5em;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
  }
}

.product-page {
  & h1 {
    text-align: center;
    margin: 1em 0;
    text-transform: uppercase;
  }
  & .row {
    margin: 1.5rem 0;
  }
  & .products-section {
    background-color: var(--light-bg-color);
  }
  & .product-thumb {
    background-position: center center;
    background-size: cover;
    box-shadow: 0 7px 15px rgba(151, 161, 154, 0.5);
    width: 100%;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  & .product-info {
      align-items: flex-start;
  }
  & .btn {
    box-shadow: 0 7px 15px rgba(151, 161, 154, 0.5);
  }
}

.footer {
  background-color: var(--primary-bg-color);
  height: 100px;
}

/* ABOUT PAGE */

/* Video wrapper for YouTube Videos to adapt to mobile */
.video-wrapper {
  max-width: 100%;
  margin-bottom: 1rem;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  width: 700px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* CONTACT PAGE */

.call-btn {
  box-shadow: 0 7px 15px rgba(151, 161, 154, 0.4);
  margin: 0 auto;
  max-width: 90%;
  width: 300px;
}

#contact-form {
  & input[type="submit"] {
    align-self: flex-start;
    box-shadow: 0 7px 15px rgba(151, 161, 154, 0.4);
    margin-top: 1em;
    width: auto;
  }
}

.contact-info {
  align-items: center;
  display: flex;
  margin: 1em 0;
  justify-content: center;
}
.address-icon-container, .phone-icon-container {
  margin-right: 1em;
}

.pretty-form {
  border: 2px solid #ddd;
  border-radius: 0 !important; /* Override iOS rounded input fields. */
  display: block;
  margin: 0.2em 0 1em;
  padding: 0.6em 1em;
  width: 100%;
}

#loveleeMap {
  background: none;
  border: none;
  box-shadow: 0 7px 15px rgba(151, 161, 154, 0.4);
  max-width: 100%;
  min-width: 100%;
  height: 300px;
  margin-top: 3rem;
  width: 60vw;
}

@media screen and (min-width: 800px) {
  #mobile-menu-button {
    display: none;
  }

  .navigation {
    align-items: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0.5em 0;
  }
  .navigation a {
    border: none;
    
  }

}

@media (max-width: 799px) {
  body {
    padding-top: 70px;
  }
  .container {
    padding: 0 20px;
  }
  .row {
    flex-direction: column;
  }
  .col-2 .col, .col-3 .col {
    flex-basis: auto;
  }
  .col {
    margin-bottom: 1.5rem;
    text-align: left;
    width: 100%;
  }

  .separator {
     width: 90%;
  }

  .navbar {
    height: 70px;
  }
  .navigation {
    & a {
      &:not(#logo) {
        display: none;
      }
      & .logo {
        /* order: 1; */
        height: 120px;
        transform: translateY(10%);
      }
    }
  }
  #shopping-bag-container {
    display: none;
  }
  #mobile-shopping-bag-container {
    display: block;
    padding: 35px 70px 0 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 21;

    animation-delay: 0s;
    animation-duration: 400ms;
    animation-iteration-count: 1;
  }

  .snipcart-summary {
  display: block;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;

  transform: translate(-50%, 70%);
  }

  .shopping-bag-button {
    color: var(--primary-bg-color);
    cursor: pointer;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;

    transform: translateX(-50%);
    z-index: 26;
  }

  #mobile-menu-button {
    top: 20px;
  }

  #mobileMenuCloseBtn {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    left: 0;
    padding: 20px 30px;
    position: fixed;
    top: 0;
  }

  #logo {
    padding-top: 0;
  }
  .hero {
    justify-content: center;
  }
  .hero-content {
    & h1 {
      font-size: 12vw;
      margin-top: 0;
      /* order: 1; */
    }
    & .cta-btn {
      margin-right: 0;
      order: 2;
      padding: 1em;
    }
  }
}
