{{ partial "head" . }}

<body> 
{{ partial "navigation" }}
<div class="content-wrapper">
  <section class="hero">
    <div class="hero-content">
      <h1> “Melt in your mouth cinnamon rolls...”</h1>
      <a href="/categories/rolls" class="btn cta-btn">Order Now!</a>
    </div>
  </section>

  <section class="section news-signup">
    <div class="container">
      <div class="row col-2">
        <div class="col">
          <h3>Stay in touch!</h3>
          <p>Like us, follow us, tweet us, and message us! Let us know how we're doing, and keep up with the latest LoveLee
            news and promotions!</p>
          <ul class="social-nav">
            <li class="social-icon">
              <a href="https://www.facebook.com/LoveLeeRolls/">
                <i class="fab fa-facebook fa-2x"></i>
              </a>
            </li>
            <li class="social-icon">
              <a href="https://twitter.com/LoveleeRolls">
                <i class="fab fa-twitter fa-2x"></i>
              </a>
            </li>
            <li class="social-icon">
              <a href="https://www.instagram.com/loveleerolls/">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </li>
          </ul>
          
        </div>
        <div class="col">
          <h3>Save 10% off of your next order!</h3>
          <p>Join our mailing list, and we'll send you a promo code for 10% off your next order.</p>
          <button id="newsletterSignupButton" class="btn btn-accent submit-btn">Join</button>
        </div>
      </div>
    </div>
  </section>
  <!-- <div class="separator"></div> -->
  <section class="section about-section bg-dark">
    <div class="container">
      <div class="row col-2">
        <div class="col">
          <img src="images/lee_family.jpg" alt="Lee Family">
        </div>
        <div class="col">
          <h3>How we started</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id laborum sed repellendus enim quam maxime, illo, facere
            nisi dolores quaerat unde explicabo sequi facilis nesciunt. Voluptatibus porro facilis odit soluta sit cum, voluptates
            consequatur autem quae omnis libero ratione rerum sint nisi eveniet aliquid quam possimus obcaecati tempora voluptate
            sapiente!</p>
          <a href="#" class="btn btn-accent">Read Our Story</a>
        </div>
      </div>
      <div class="row">
        <!-- Instagram Widget Embed Start -->
        <div class="instawidget" data-user-name="loveleerolls" data-amount="6" data-grid="6"></div>
        <script type="text/javascript" src="//www.stadget.com/cdn/widget-init.min.js"></script>
        <!-- Instagram Widget Embed End -->
      </div>
    </div>
  </section>
  <!-- <div class="separator"></div> -->
  <section class="section testimonial-section">
    <div class="container">
      <div class="row col-3">
        <!-- COL 1 -->
        <div class="col testimonial">
          <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem enim, sunt vitae delectus obcaecati officia quisquam
            et illo aspernatur temporibus."</p>
          <p>--Facebook user</p>
        </div>
        <!-- COL 2 -->
        <div class="col testimonial">
          <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iure dolore rerum cumque laboriosam non aperiam
            minima dolor. Voluptas, accusantium."</p>
          <p>--John Smith</p>
        </div>
        <!-- COL 3 -->
        <div class="col testimonial">
          <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus temporibus itaque mollitia vel illum non nam
            recusandae sapiente dolor officiis?"</p>
          <p>--Catering Customer</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section products-section bg-dark">
    <div class="container">
      <h2>LoveLee Items</h2>
      <div class="row">
        <a class="col product-link" href="/categories/rolls">
          <div class="product-thumb" style="background-image: url('/images/cinnamon-rolls.jpg')"></div>
            <div class="link-heading">
            <h3>Rolls</h3>
        </div>
      </a>
    </div>
    <div class="row">
      <a class="col product-link" href="/categories/coffee">
        <div class="product-thumb" style="background-image: url('/images/coffee-beans.jpg')"></div>
        <div class="link-heading">
          <h3>Coffee</h3>
        </div>
      </a>
    </div>
    <div class="row">
      <a class="col product-link" href="#">
        <div class="product-thumb" style="background-image: url('/images/business-mtg.jpg')"></div>
          <div class="link-heading">
            <h3>Catering &amp; Fundraising</h3>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>


<div class="modal-wrapper" id="newsletterSignupModal">
  <div class="modal-container">
    <div class="closeModalBtn">
      <i class="fal fa-times fa-2x"></i>
    </div>
    <h3>Save 10% off of your next order!</h3>
    <p>Sign up for LoveLee Rolls news and promotions, and we'll send you a promo code for 10% off your next order.</p>
    <form class="newsletter-form">
      <input type="email" placeholder="your@email.com" class="pretty-form">
      <input type="submit" value="SUBSCRIBE" class="btn btn-accent submit-btn">
    </form>
  </div>
</div>

{{ partial "footer" . }}

</body>
</html>