{{ partial "header" . }}

{{ $products := getJSON "/data/products.json" }}

<div class="wrapper">
  <section class="hero">
    <div class="hero-content">
      <button class="btn cta-btn">Order Yours Today!</button>
      <h1>Melt in your mouth delicious...</h1>
    </div>
  </section>
  <!-- <section class="promo">
    <span>Display promo code PROMO2018 here.</span>
  </section> -->
  
  <!-- <section class="section">
    <div class="container">
      {{ range $products }} {{ partial "product.html" . }} {{ end }}
    </div>
    </div>
  </section> -->

  <section class="section news-signup">
    <div class="container">
      <div class="row col-2">
        <div class="col">
          <h3>Save 10% off of your next order!</h3>
          <p>Sign up for LoveLee Rolls news and promotions, and we'll send you a promo code for 10% off your next order.</p>
        </div>
        <div class="col">
          <form class="newsletter-form">
            <input type="email" placeholder="your@email.com">
            <input type="submit" value="SUBSCRIBE" class="btn btn-accent submit-btn">
          </form>
        </div>
      </div>
    </div>
  </section>
  <div class="separator"></div>
  <section class="section about-section">
    <div class="container">
      <div class="row col-2">
        <div class="col">
          <img src="images/lee_family.jpg" alt="Lee Family">
        </div>
        <div class="col">
          <h3>How we started</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id laborum sed repellendus enim quam maxime, illo, facere nisi dolores quaerat unde explicabo sequi facilis nesciunt. Voluptatibus porro facilis odit soluta sit cum, voluptates consequatur autem quae omnis libero ratione rerum sint nisi eveniet aliquid quam possimus obcaecati tempora voluptate sapiente!</p>
          <a href="#" class="btn btn-accent">Read Our Story</a>
        </div>
      </div>
    </div>
  </section>
  <div class="separator"></div>
  <section class="section testimonial-section">
    <div class="container">
      <div class="row col-3">
        <!-- COL 1 -->
        <div class="col testimonial">
          <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem enim, sunt vitae delectus obcaecati officia quisquam et illo aspernatur temporibus."</p>
          <p>--Facebook user</p>
        </div>
        <!-- COL 2 -->
        <div class="col testimonial">
          <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iure dolore rerum cumque laboriosam non aperiam minima dolor. Voluptas, accusantium."</p>
          <p>--John Smith</p>
        </div>
        <!-- COL 3 -->
        <div class="col testimonial">
          <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus temporibus itaque mollitia vel illum non nam recusandae sapiente dolor officiis?"</p>
          <p>--Catering Customer</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section action-section">
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="#" class="btn btn-accent">Shop Rolls and Coffee</a>
        </div>
      </div>
    </div>
  </section>
  <!-- <div class="separator"></div> -->
  <section class="footer"></section>
</div>




{{ partial "footer" . }}